<%-layout('./layouts/boilerplate') %>
    <div class="container justify-content-center align-item-center d-flex my-5">


        <div class="row">
            <div class="col-md-6">
                <div class="card shadow" style="width: 35rem;">
                    <div class="card-body">
                        <h5 class="card-title">Edit Campground</h5>
                        <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" novalidate
                            class="validate-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="title" class="form-label text-muted">Title</label>
                                <input type="text" name="campground[title]" id="title" placeholder="title"
                                    value="<%=camp.title%>" class="form-control" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="location" class="form-label text-muted">Location</label>
                                <input type="text" name="campground[location]" placeholder="location" id="location"
                                    value="<%=camp.location%>" class="form-control" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label text-muted">Add more images</label>
                                <input class="form-control" type="file" id="image" name="image" multiple>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="deleteImgs my-3">
                                <% camp.images.forEach((img,i)=>{%>
                                    <img src="<%=img.thumbnail %>" alt="" class="img-thumbnail">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="deleteImgs[]"
                                            value="<%=img.filename %>" id="image-<%=i %>">
                                        <label class="form-check-label" for="image-<%=i%>">
                                            Delete me?
                                        </label>
                                    </div>
                                    <%}) %>
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-muted for="price">Price</label>
                                <input class="form-control" type="text" name="campground[price]" placeholder="$"
                                    id="price" value="<%= camp.price %>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label text-muted">Description</label>
                                <textarea class="form-control" id="description" name="campground[description]" rows="3"
                                    required><%=camp.description %></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-info">Update</button>
                                <a href="/campgrounds/<%=camp._id%>" class="btn btn-dark">Back</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>