<%-layout('./layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%=camp.title%></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%=camp.location %></h6>
    <img src="<%=camp.image %>" class="card-img-top" alt="">
    <p class="card-text"><%= camp.description %></p>
    <a href="/campgrounds" class="card-link">All Campgrounds</a>
    <a href="/campgrounds/<%=camp._id%>/edit" class="card-link btn btn-primary d-inline">Edit</a>
    <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
  </div>
</div>
    </div>
</div>
